// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFC93C;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: rgb(156,156,156);
$dark-gray: rgb(77,77,77);
$dark-blue: #3E434E;
$background: rgb(40,40,40);
$btn-primary: #FF006C;


// Home page colours --- NB the map on the homepage is an svg and colours are set in the views/shared/_svg_map.html.erb
$color-background: #FFC93C;
$color-number-counter: #393939;
$color-number-counter-text: #393939;
$color-link: #fff;
$color-map-marker: #C16670;

// Sweet alerts
$alert-warning: $red;
$alert-info: $green;

// Event cards
$event-card-background: white;
$event-card-text: #E6E6E6;
$event-card-date: $yellow;

// Info window


// Navbar
$navbar: rgb(57,57,57);
$navbar-wagon-link: #FFFFFF;
$navbar-wagon-link-hover: #da552f;
$navbar-wagon-dropdown-menu: #E6E6E6;
$navbar-wagon-dropdown-menu: #999999;
$navbar-wagon-dropdown-menu-hover-background: transparent;
$navbar-wagon-dropdown-menu-hover-text: black;
$navbar-wagon-dropdown-menu-before-background: white;

// Search sliders

// Base Colors
$shade-1: #d7dcdf !default;
$shade-0: #2E2E2E !default;

// Slider colors
$range-handle-color: $yellow !default;
$range-handle-color-hover: #FF006C !default;
$range-track-color: $shade-0 !default;
$range-label-color: #D1CFCC !default;
