// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Home page colours --- NB the map on the homepage is an svg and colours are set in the views/shared/_svg_map.html.erb
$color-background: #FFC93C;
$color-number-counter: #2B3445;
$color-number-counter-text: #FFF;
$color-link: #fff;
$color-map-marker: #C16670;

// Sweet alerts
$alert-warning: $red;
$alert-info: $green;

// Event cards
