// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFC93C;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Home page colours --- NB the map on the homepage is an svg and colours are set in the views/shared/_svg_map.html.erb
$color-background: #FFC93C;
$color-number-counter: #393939;
$color-number-counter-text: #393939;
$color-link: #fff;
$color-map-marker: #C16670;

// Sweet alerts
$alert-warning: $red;
$alert-info: $green;

// Event cards
$event-card-background: white;
$event-card-text: $gray;
$event-card-date: $red;

// Info window


// Navbar
$navbar-wagon-background: #393939;
$navbar-wagon-link: $yellow;
$navbar-wagon-link-hover: #da552f;
$navbar-wagon-dropdown-menu: #E6E6E6;
$navbar-wagon-dropdown-menu: #999999;
$navbar-wagon-dropdown-menu-hover-background: transparent;
$navbar-wagon-dropdown-menu-hover-text: black;
$navbar-wagon-dropdown-menu-before-background: white;

// Search sliders

// Base Colors
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;

// Slider colors
$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-track-color: $shade-1 !default;
$range-label-color: $shade-10 !default;
