// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Francois+One|Source+Sans+Pro:400,100,300,700,500");

// Default fonts for body and headers
$body-font: "Source Sans Pro", "Helvetica", "sans-serif";
$headers-font: "Francois One", "Helvetica", "sans-serif";

// Home page fonts
$font-family-fallback: sans-serif;
$font-family: 'Source Sans Pro';
$line-height: 1.5em;
