// CSS for Landing Page

.main {
  background-color: $color-background;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.margin-top {
  margin-top: 117px;
}

.right-flex{
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  font-size: 68px;
}

h6 {
  font-size: 19px;
  opacity: 0.8;
}

.website-main-text {
  color: $dark-gray;
}

.website-name {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

a:hover {
  color: #C16670 !important;
}

.search-container {
  z-index: 5;
  align-self: center;
}

.map-svg {
  position: absolute;
  top: 0;
  right: 50%;
  z-index: 1;
  transform: scale(1.5);
}

form {
  display: flex;
  flex-direction: column;
}

.counters-container {
  display: flex;
  font-size:24px;
  color: #393939;
  margin-bottom: 100px;
}

.number-counter-text a {
  color: #393939;
  font-weight: bold;
}

.number-counter-text {
  margin-left: 30px;
}

.counter {
  font-size: 45px !important;
}
.counter1 {
  font-size: 45px !important;
}
.counter2 {
  font-size: 45px !important;
}

#landing-buttons {
  display: flex;
  justify-content: space-between;
  width: 15%;
  position: absolute;
  right: 3%;
  top: 3%;
}

.landing-button {
  padding: 10px 17px;
  background-color: rgba(255,255,255,0.6);
  color: black;
  font-size: 20px;
  border-radius: 50%;
  text-decoration: none;
  z-index: 600;

  &:link, &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
  }

  &:hover {
    color: $red;
    background-color: rgba(255,255,255,1);
    transition: 0.5s;
  }
}

#landing-buttons {
  right: 80px;
}




















