.box {
  padding: 30px;
  text-align: center;

  h2 {
    margin: 12.5px 0px !important;
  }
}

.overviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .overview {
    padding: 0px 15px;
  }
}

.members {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.member {
  background-color: white;
  margin: 18px;
  padding-top: 15px;
  color: $dark-blue;
  border-radius: 8px;
  &:hover {
    box-shadow: 5px 5px 20px #888888;
  }
}

.member-name{
  cursor: pointer;
  padding: 5px;
  margin: 30px;
  &:hover {
    color: $blue;
  }
}

.member-name-z{
  font-size: 19px;
  cursor: pointer;
  padding: 5px;
  margin: 30px;
  &:hover {
    color: $blue;
  }
}

.member-bio{
  height: 80px;
  width: 200px;
}

.member-bio p {
  margin-left: 35px;
  font-size: 18px;
  text-align: center;
}

.about-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.member-links {
  display: flex;
  justify-content: space-around;
  .list-inline {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

.colour {
  background-color: rgba(0,0,0,0.3)
}
