.box {
  text-align: center;
  h2 {
    margin: 12.5px 0px !important;
  }
}

.box-one {
  padding: 64px;
  text-align: center;
  h2 {
    margin: 12.5px 0px !important;
  }
}

.team {
  padding: 64px;
  text-align: center;
  h2 {
    margin: 12.5px 0px !important;
  }
}

.description{
  padding: 64px;
  p {
    width: 450px;
    margin: auto;
  }
}

.box-bottom {
  padding: 64px;
  text-align: center;
  background-color: $yellow;
  h2 {
    margin: 12.5px 0px !important;
  }
}

.overviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .overview {
    padding: 0px 15px;
  }
}

.overview i {
  border-radius: 50%;
  border: 3px solid $yellow;
  padding: 30px;
}

.members {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.member {
  background-color: white;
  margin: 18px;
  padding-top: 15px;
  color: $dark-blue;
  border-radius: 8px;
  &:hover {
    box-shadow: 5px 5px 20px #888888;
  }
}

.member-name{
  cursor: pointer;
  padding: 5px;
  margin: 16px;
  &:hover {
    color: $blue;
  }
}


.member-bio{
  height: 80px;
  width: 100%;
  padding: 0 16px;
}

.member-bio p {
  font-size: 18px;
  text-align: center;
}

.about-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.member-links {
  background-color: #3E434E;
  padding-top: 8px;
  display: flex;
  justify-content: space-around;
  .list-inline {
    list-style: none;
    li {
      display: inline-block;
    }
    i {
      color: white;
    }
  }
}

.colour {
  background-color: rgba(0,0,0,0.3)
}

.contact-us {
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
}
