.dashboard-container {
  padding: 30px;
  width: 90%;
  margin: auto;

  h1 {
    margin: 0px 0px 15px 0px !important;
  }
}

.breather {
  padding-top: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-around;
}

// Profile Summary

.profile {
  text-align: center;
  min-width: 250px;

  h4 {
    margin: 17.5px 0px 5px 0px !important;
  }

  p {
    font-size: 14px;
    margin: 0px !important;
  }

  .dashboard-photo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }

  .fa-pencil a {
    text-decoration: none;
    font-size: 14px;
  }
}

// Stats

.stats {
  display: flex;
  justify-content: space-around;
}

.stat {
  text-align: center;
  padding: 0px 35px;
  border-right: 1px solid $light-gray;

  &:last-child {
    border-right: none;
  }

  h3 {
    font-size: 70px;
  }

  h4 {
    font-family: "Source Sans Pro", "sans serif";
  }
}

// Run History - Tabs

.tab {
  padding: 10px;

  &:link, &:hover, &:active, &:focus, &:visited {
    text-decoration: none;
    color: $light-gray;
  }

  &:hover {
    color: $light-gray !important;
    border-bottom: 4px solid $yellow;
  }
}

// Run History - Content

.log {
  margin-top: 10px;
  padding: 0px 15px;
  list-style: none;
  border: 1px solid $dark-gray;
  border-radius: 5px;

  p {
    margin-bottom: 0px !important;
    font-size: 14px;
  }

  h5 {
    padding-bottom: 2.5px;
    margin: 0px !important;
    font-family: "Source Sans Pro", "sans serif";
  }

  .log-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  border-bottom: 1px solid $light-gray;

  &:last-child {
    border-bottom: none;
  }
}

.log-left {
  padding-right: 10px;
  min-width: 250px;

  a {
    text-decoration: none;
    color: $light-gray;
    opacity: 0.3;
  }

  p {
    color: rgba(255,255,255,0.5);
  }
}

.log-middle {
  flex: 1 0 auto;

  p {
    color: rgba(255,255,255,0.5);
  }
}

.log-right {
  padding-right: 10px;
  margin-left: 10px;
  min-width: 100px;
}

.history-photo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.non-host-runs {

  .log-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .left-info a {
      text-decoration: none;
      color: $light-gray;
      opacity: 0.3;
    }
  }

  .left-info {
    padding-left: 15px;
  }
}

// Achievements

.achievements-flex {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.achievement {
  // display: flex;

  h4, h5 {
    margin: 5px;
  }

  p {
    margin: 15px 0px 0px 0px;
  }
}

.border {
  border: 5px solid #F7CA59;
  border-radius: 50%;
  margin: 5px auto;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px 10px;
  height: 175px;
  width: 175px;
}

.no-border {
  border: none !important
}

.display-block {
  display: block !important;
}

.no-runs {
  margin: 10px 0px;
  padding: 15px !important;

  a {
    text-decoration: none;
    color: white;
  }
}
