.show-event-details {
  padding: 20px;
  display: flex;
  justify-content: space-around;

  // display: grid;
  // grid-template-columns: 20% 20% 20% 20% 20%;

  .event-detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .fa {
      padding-right: 15px;
      font-size: 45px;
    }

    h3 {
      // font-weight: bold;
      font-size: 25px;
      font-family: "Source Sans Pro", "sans serif";
      margin: 0px !important;
    }

    p {
      margin: 0px !important;
    }
  }
}

.show-event-participants {
  padding: 20px 50px;

  h3 {
    margin: 12.5px 0px !important;
  }

  p {
    margin: 0px !important;
  }
}

.show-event-action {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-start;
}

.reserve-btn {
  width: 100px;
}

.footer-event-show {
  position: sticky !important;
  align-items: center;
  bottom: 0 !important;
  display: flex;
  width: 100%;
  background-color: transparent;
  text-align: center;
  height: 50px;
  justify-content: space-between;
}

.show-wrapper {
  min-height: calc(100vh - 50px - 50px);
}
