.event-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.event-wrapper {
  display: flex;
  background: {
     image: asset_url("runner.png");
     size: cover;
  }
}

.event-display {
  padding: 0px 10px 0px 10px;
  list-style: none;
  width: 80%;
}

.events {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.event-content {
  flex: 1 0 auto;
  padding: 10px 10px;
  margin-left: 50px;
  align-items: center;
  height: 500px;
  width: 800px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  h4, p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 15px;
    font-size: 25px;
    color: $gray;
  }
}

.event-content {
  background-color: transparentize(white, .2);
}

.event-description {
  border: 1px solid rgba(0,0,0,0.3);
  width: 480px;
  padding: 20px;
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;

  background-color: transparentize(white, .5);
}

.event-map {
  color: $gray;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 120px;
  right: 120px;
  flex: 0 0 auto;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  position: sticky !important;
}
