.show-wrapper {
  background-color: #393939;
  color: white;
}

.show-banner {
  position: relative;
  display: flex;
  align-items: center;
}

#show-map {
  height: 300px;
  width: 100vw;
  flex: 0 0 auto;
}

.show-summary {
  position: absolute;
  left: 30px;
  z-index: 2;

  h4 {
    font-size: 20px;
  }

  .btn {
    font-size: 14px !important;
    margin: 5px;
    border-radius: 5px;
  }
}

.show-info {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 25% 25% 25% 25%;
  height: calc(50vh - 30px);
}

.show-user-photo {}

.show-user-info {
  grid-row: 2 / span 1;
}

.show-run-description {
  grid-column: 2 / span 2;
}

.show-run-details {
  grid-column: 4 / span 1;

  .run-detail {
    padding-bottom: 10px;
  }

  h4, p {
    margin: 0px !important;
  }
}

.show-booking {
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
}

.run-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detail-icon {
  font-size: 30px;
}
