// CSS for Runs show page

body {
  background-color: $background;
  color: white;
  font-weight: light;

}

.show-banner {
  position: relative;
  display: flex;
  align-items: center;
}

#show-map {
  height: 300px;
  width: 100vw;
  flex: 0 0 auto;
}

.show-summary {
  position: absolute;
  left: 40px;
  z-index: 2;

  h4 span {
    font-size: 20px;
    opacity: 1;
  }

  h1 span {
    opacity: 1;
  }


  .btn {
    font-size: 14px !important;
    margin: 5px;
    border-radius: 5px;
  }
}

.show-user-avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

.show-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: calc(100vh - 300px - 50px - 50px);

  .show-user-info {
    grid-column: 1 / span 1;
    text-align: center;

    h3 {
      margin: 10px 0px !important;
    }

    p {
      margin: 0px !important;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $light-gray !important;
      }
    }
  }

  .show-user-bio {
    margin: 15px 0px;
  }

  .show-user-action {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: $gray !important;
    }

    .schedule-btn {
      width: 105px;
    }
  }
}

.show-run-description {
  grid-column: 2 / span 1;

  .show-run-buddies {
    margin-top: 30px;
  }

  h4 {
    margin: 0px 0px 10px 0px !important;
  }
}

.show-run-details {
  grid-column: 3 / span 1;

  .run-detail {
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .detail-icon {
    font-size: 30px;
    min-width: 75px;
    text-align: center;
  }

  h4 {
    margin: 0px 0px 5px 0px !important;
  }

  p {
    margin: 0px !important;
  }
}

.buddy-photo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0px 10px 10px 0px;
}

.padding {
  padding: 25px;
}

.footer-run-show {
  position: sticky !important;
  align-items: center;
  bottom: 0 !important;
  display: flex;
  width: 100%;
  background-color: transparent;
  text-align: center;
  height: 50px;
  justify-content: space-between;
}
