// CSS for Runs Index

.results-wrapper {
  display: flex;
}

#results-map {
  height: calc(100vh - 50px);
  width: 45%;
  position: sticky !important;
  top: 0px !important;
  flex: 0 0 auto;
}

.result-link-url {
  position: absolute;
  margin-top: 10px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.results-display {
  padding: 0px 10px 0px 10px;
  list-style: none;
  width: 100%;
}

.result {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.result-link {
  border-bottom: 2px solid rgba(0,0,0,0.4);
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.result-description {
  flex: 1 0 auto;
  padding: 0px 10px;
  align-items: center;
  max-width: 60%;

  h4 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0px;
    font-size: 18px;
  }
}

.result-details {
  font-size: 14px;
  padding-right: 10px;
  margin-left: 10px;

  p {
    margin: 0px !important;
    text-align: right;
  }
}
