<div class="search">
  <%= form_tag(runs_path, method: :get) do |f| %>
    <%= text_field_tag :query, nil, placeholder: 'Where do you want to run?', class: 'first_box' %>
    <button class="btn btn-default" style="border-radius: 50%; font-size: 12px; padding: 5px 8px !important" %>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  <% end %>
</div>
