<div class="search">
  <%= form_tag(runs_path, method: :get) do |f| %>
        <input type="text" name="search[location]" placeholder="Where do you want to run?">
        <input type="number" name="search[proximity]" step="0.5" value="0.5" min=0>
        <input type="date" name="search[run_date]" value=<% Date.today %>>
        <input type="time" name="search[time]" value=<% Time.now %>>
        <button class="btn btn-default" style="border-radius: 50%; font-size: 12px; padding: 5px 10px !important" %>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  <% end %>
</div>
