<div class="search">
  <%= form_tag(runs_path, method: :get) do |f| %>
    <%= text_field_tag :query, nil, placeholder: 'Where do you want to run? ', class: 'first_box' %>
    <button class="search-button btn-default" %>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  <% end %>
</div>
