<div class="search">
  <%= form_tag(runs_path, method: :get) do |f| %>
    <%# text_field_tag :location, nil, placeholder: 'Where do you want to run?', priority: ['EN'], id: "locationInput" %>
    <input type="text" name="search[location]" placeholder="Where do you want to run?">
    <input type="number" name="search[proximity]" step="0.5" value="0.5" min=0>
    <button class="search-button btn-default" %>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  <% end %>
</div>
