<div class="container">
  <div class="overview">
    <h1>HOW IT WORKS</h1>
    <h4>We came up with shared.run given the lack of flexibility of finding a running buddy - whether that's finding a suitable location, time or partner for you.</h4>
    <div class="search">
      <h2>Search</h2>
      <p>Search for available running buddies, routes or events.</p>
    </div>
    <div class="schedule">
      <h2>Schedule</h2>
      <p>Schedule your running date - via instant confirmation or messaging with the organiser of the run.</p>
    </div>
    <div class="run">
      <h2>Get Running!</h2>
      <p>You're all set! Enjoy the run!</p>
    </div>
  </div>

  <div class="team">
    <div class="member">
      <p>Agnes' photo</p>
      <h2>AGNES CHING</h2>
      <p>This is a profile about Agnes</p>
      <div class="member-links">
        <ul>
          <li>LinkedIn</li>
          <li>Twitter</li>
          <li><a href="https://www.github.com/agnesching19"></a></li>
        </ul>
      </div>
    </div>
    <div class="member">
      <p>Joe's photo</p>
      <h2>JOE ALEXANDER</h2>
      <p>This is a bio about Joe</p>
      <div class="member-links">
        <ul>
          <li>LinkedIn</li>
          <li>Twitter</li>
          <li><a href="https://www.github.com/ja5664"></a></li>
        </ul>
      </div>
    </div>
    <div class="member">
      <p>Joyce's photo</p>
      <h2>JOYCE WONG</h2>
      <p>This is a bio about Joyce</p>
      <div class="member-links">
        <ul>
          <li><a href="https://www.linkedin.com/in/wcyjoyce"></a></li>
          <li><a href="https://www.twitter.com/jcywonghk"></a></li>
          <li><a href="https://www.github.com/wcyjoyce"></a></li>
        </ul>
      </div>
    </div>
    <div class="member">
      <p>Zuzanna's photo</p>
      <h2>ZUZANNA GLOWACKA</h2>
      <p>This is a bio about Zuzanna</p>
      <div class="member-links">
        <ul>
          <li>LinkedIn</li>
          <li>Twitter</li>
          <li>GitHub</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="contact">
    <h1>CONTACT US</h1>
    <a href="mailto:info@shared.run">Come say hi!</a>
  </div>
</div>
