<div class="about-container">

  <!-- How It Works -->
  <div class="box colour">
    <div class="description">
      <h2>HOW IT WORKS</h2>
      <p>We came up with shared.run given the lack of flexibility of finding a running buddy - whether that's finding a suitable location, time or partner for you.</p>
    </div>
  </div>

  <!-- Overview -->
  <div class="box">
    <div class="overviews">
      <div class="overview">
        <h2><i class="fa fa-search" aria-hidden="true"></i></h2>
        <h3>SEARCH</h3>
        <p>Search for available running buddies, routes or events.</p>
      </div>
      <div class="overview">
        <h2><i class="fa fa-calendar-o" aria-hidden="true"></i></h2>
        <h3>SCHEDULE</h3>
        <p>Schedule your running date - via instant confirmation or messaging with the organiser.</p>
      </div>
      <div class="overview">
        <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i></h2>
        <h3>GET RUNNING!</h3>
        <p>You're all set! Enjoy the run with your new buddies!</p>
      </div>
    </div>
  </div>

  <!-- Meet the Team -->
  <div class="box colour">
    <div class="team">
      <h2>MEET THE TEAM</h2>
      <div class="members">
        <div class="member">
          <p>Agnes' photo</p>
          <h4>AGNES CHING</h4>
          <p>This is a bio about Agnes.</p>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/agnes-ching-hua-chung-67b429110/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/agnesching19"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/agnesching19"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:agnesching19@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="member">
          <p>Joe's photo</p>
          <h4>JOE ALEXANDER</h4>
          <p>This is a bio about Joe.</p>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/ja5664"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:ja5664@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="member">
          <p>Joyce's photo</p>
          <h4>JOYCE WONG</h4>
          <p>This is a bio about Joyce.</p>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/wcyjoyce"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.twitter.com/jcywonghk"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/wcyjoyce"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:wcyjoyce.hk@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="member">
          <p>Zuzanna's photo</p>
          <h4>ZUZANNA GLOWACKA</h4>
          <p>This is a bio about Zuzanna.</p>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/zuzannaglowacka"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:zuzglowacka@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact Us -->
  <div class="box">
    <div class="contact">
      <h2>CONTACT US</h2>
      <a href="mailto:info@shared.run">Come say hi!</a>
    </div>
  </div>

</div>

<%= content_for(:title, "shared.run | About") %>
