<div class="container">
  <h2>PRIVACY POLICY</h2>
  <p>By accessing or using the shared.run website, you agree to the terms of this Online Privacy Policy, as outlined below. If you do not agree to these terms, please do not access or use this site.</p>

  <h3>COLLECTION OF PERSONAL INFORMATION</h3>
  <p>When you engage in certain activities on this site, you may be asked to provide certain information about yourself by filling out and submitting an online form. It is completely optional for you to engage in these activities. If you elect to engage in these activities, however, you may be required to provide personal information, such as your name, e-mail address, and other personal identifying information.</p>
  <br>
  <p>When you submit personal information, you understand and agree that shared.run may transfer, store, and process your information in any of the countries in which shared.run maintain offices, including without limitation, the United States.</p>
  <br>
  <p>shared.run collects this information in order to record and support your participation in the activities you select. shared.run also uses information that you provide as part of our effort to keep you informed about product upgrades, special offers, and other shared.run products and services. shared.run will never sell or share your information with other companies.</p>
</div>
