.event-card {
  display: flex;
  align-items: center;
  background: $dark-gray;
  padding: 10px;
  margin-bottom: 0;
  margin-left: 100px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  position: relative;
  height: 200px;
  color: #E6E6E6;
  border-radius: 5px;
  border-top-style: dashed;
  width: 80%;
  &:hover {
    box-shadow: 1px 1px 2px rgba(255,255,255,0.7);
    .event-card-date {
      color: $event-card-date;
    }
  }
}

.event-card-date {
  flex: 0 0 200px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: .5s;
  margin: 15px;
  border-radius: 5px;
  h3 {
    margin: 0;
    font-size: 30px;
  }
   h3:hover {
    color: $yellow;
   }
}
.event-card-content {
  flex-grow: 1;
  padding-right: 30px;
  .event-icons {
    font-size: 14px;
    opacity: .7;
  }
  li {
    font-size: 20px;
  }
}

.event-icons i {
  width: 10px;
  height: 10px;
  margin: 10px;
}

.event-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.event-text {
  font-weight: bold;
  letter-spacing: 3px;
}

.new-event {
  min-height: calc(100vh - 50px - 50px);
}

.footer-new-event {
  position: sticky !important;
  align-items: center;
  bottom: 0 !important;
  display: flex;
  width: 100%;
  background-color: transparent;
  text-align: center;
  height: 50px;
  justify-content: space-between;
}
.container {
  h1 {
  text-align: center;
  }
}

.fa-plus:before {
  color: #FFC93C;
}

.btn-event {
  color: #fff;
  background-color: $yellow;
  font-weight: bold;
  border-color: $yellow;
  border-width: 2px;
}

.btn-event:hover {
  color: $background !important;
  border-color: $event-card-text;
}


.btn {
  margin-right: 18px;
}

