.flatpickr-day.selected {
  background-color: $yellow !important;
  border-color: $yellow !important;
}
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
  border-color: $yellow !important;
  background-color: $yellow !important;
}

.flatpickr-day.today {
  border-color: $yellow !important;
}

.flatpickr-day:hover {
    background-color: $yellow !important;
}
