.form-event {
   form {
    width:856px;
    margin:0 auto;
    text-align: left;
 }
}

.container-event {

  h1 {
  color: $yellow;
  text-align: center;
  font-weight: bold;
  margin-top: 44px;
  margin-bottom: 34px;
  font-family: $font-family !important;
  }


}
