.window a {
  text-decoration: none;
  color: black;
}

.window-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    font-size: 14px;
    margin: 0px !important;
  }
}

.window-avatar {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.window-item {
  padding: 5px;
}
