.search-button {
  font-size: 12px;
  padding: 5px 10px !important;
  height: 30px;
}

.search-home-page {
  width: 277px;
}

.btn-primary {
  background-color: #FF006C;
  border-color: $dark-gray;
  border-width: 1.5px;
  color: $dark-gray;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #C16670;
  border-color: #C16670;
}

.input-group-addon {
  width: 42px !important;
  height: 39px;
  border-color: $dark-gray;
  border-width: 1.5px;
}

.input-group .form-control {
  border-radius: 3px;
  width: 235px;
}

.page-search {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-control {
  border-color: $dark-gray;
  border-width: 1.5px;
  color: $dark-gray !important;
}





