.search-button {
  font-size: 12px;
  padding: 5px 10px !important;
  height: 30px;
}

.search-home-page {
  width: 258px;
}

.btn-primary {
  background-color: #FF006C;
  border-color: #FF006C;
}

.btn-primary:hover {
  background-color: #C16670;
  border-color: #C16670;
}

.input-group-addon {
  width: 42px;
  height:  39px;

}

.input-group .form-control {
  border-radius: 3px;
}
